*.o
*.swp
*.eps

build/*
build2/*

!result/

result/*
!result/drawfig.gp

Xcode/DerivedData/*
Xcode/Output/*
Xcode/CompareCommunity.xcodeproj/project.xcworkspace/xcuserdata/*

Xcode/CompareCommunity.xcodeproj/xcuserdata/*

