*.o
*.swp
*.eps

build/*
build2/*

abd*
build*
input/

!result/

result/*
!result/drawfig.gp

Xcode/DerivedData/*
Xcode/Output/*
Xcode/CompareCommunity.xcodeproj/project.xcworkspace/xcuserdata/*

Xcode/CompareCommunity.xcodeproj/xcuserdata/*

